<h1>Introdução ao Angular</h1>
<app-first-component></app-first-component>
<app-second-component></app-second-component>
<app-third-component></app-third-component>
<app-parent-component [name] = 'userName' [userData] = 'userData'></app-parent-component>
<app-algumas-explicacoes></app-algumas-explicacoes>
<app-fourth-component [name2] = 'fourthComponentName'></app-fourth-component>
<app-diretivas></app-diretivas>
<app-last-component></app-last-component>
<app-events-component></app-events-component>
<app-emitter-component></app-emitter-component>
